<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>accomodations</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/font-awesome.css">
  <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>
<body>
  <header>
    <img src="" alt="Bengoresortlogo">
  </header>
  <nav>
    <ul>
      <a href="../index.html">
        <li>Home</li>
      </a>
      <a href="accomodations.html">
        <li>Accomodations</li>
      </a>
      <a href="activities.html">
        <li>Activities</li>
      </a>
      <a href="gallery.html">
        <li>Gallery</li>
      </a>
      <a href="contacts.html">
        <li>Contacts</li>
      </a>
    </ul>
  </nav>
  <div class="container">
    <div class="card">
      <h1>Accomodations</h1>
      <h2>explore our rooms</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../images/room1.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
        <img src="../images/room2.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
        <img src="../images/room3.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
                <img src="../images/room12.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>

        <img src="../images/room16.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
          <img src="../images/room14.jpeg" alt="Hotel image">
          <button type="button" name="button">Check Availability</button>
          <img src="../images/room14.jpeg" alt="Hotel image">
          <button type="button" name="button">Check Availability</button>


      </div>
      <div class="col-md-6">

        <img src="../images/room5.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
        <img src="../images/room7.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
        <img src="../images/room8.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
          <img src="../images/room13.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
        <img src="../images/room15.jpeg" alt="Hotel image">
        <button type="button" name="button">Check Availability</button>
          <img src="../images/room9.jpeg" alt="Hotel image">
          <button type="button" name="button">Check Availability</button>
          <img src="../images/room10.jpeg" alt="Hotel image">
          <button type="button" name="button">Check Availability</button>
          <img src="../images/room11.jpeg" alt="Hotel image">

          <button type="button" name="button">Check Availability</button>


      </div>
      <div class="col-m-4">

      </div>
    </div>

  </div>

            <footer class="pagefooter">
                <p>Bengo Resort Island &copy 2020</p>
            </footer>

</body>

</html>
