<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Activities</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
  </head>
  <body>

    <header>
      <img src="" alt="Bengoresortlogo">
    </header>
    <nav>
      <ul>
      <a href="../index.html"><li>Home</li></a>
      <a href="accomodations.html"><li>Accomodations</li></a>
      <a href="activities.html"> <li>Activities</li></a>
        <a href="gallery.html"><li>Gallery</li></a>
        <a href="contacts.html"><li>Contacts</li></a>
      </ul>
    </nav>
    <div class="container">
      <h1>Activities</h1>
      <p>We engage in a beehive of activities that help our customers relax and enjoy an awesome experience while at our resort.</p>
      <div class="row">
      <div class="col-md-4">
        <h4>Diver’s corner</h4>
        <img src="../images/deckchair-977699__340.jpg" alt="" class="activityimage">
        <p>Enjoy close encounters with schools of snapper, guitar rays, stingrays and a host of smaller inhabitants on the stunning reef at Chale Corner. With over 30 years experience, Diving the Crab offers an unparalleled level of expertise and a range of courses to suit both new and experienced divers</p>
          <h4>The Mangroves of Chale</h4>
          <p>Climb aboard a motorised dinghy and discover the island’s mystical, sea-dwelling mangroves. This intricate forest is a haven for local wildlife from sea eagles and hawks to herons, fish and crab.</p>
      </div>
      <div class="col-md-4">
        <h3>Kayak around the island</h3>
        <img src="../images/ocean-2922802__340.jpg" alt="" class="activityimage">
        <p>Take to the seas for a fun kayaking trip around Chale Island. Paddle on your own, in a group or in tandem with a partner and explore Chale’s intricate waterways and crevices.</p>
          <h3>Sundowners </h3>
          <p>An escape to our lush private paradise wouldn’t be complete without a chance to sit back, relax and toast the gorgeous early evening sky as the sun begins its majestic descent on the horizon.</p>
      </div>
      <div class="col-md-4">
        <h4>Spa treatment</h4>
        <img src="../images/pexels-photo-872831.jpeg" alt="" class="activityimage">
        <p>Relax and indulge with a revitalising massage as Colobus monkeys swing from the trees of an ancient mangrove forest. Treat yourself to a holistic spa treatment that has been perfectly designed to pamper and uplift you</p>
      </div>

      </div>

    </div>
              <footer class="pagefooter">
                  <p>Bengo Resort Island &copy 2020</p>
              </footer>

  </body>
</html>
