<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
  </head>
  <body>

    <header>
      <img src="" alt="Bengoresortlogo">
    </header>
    <nav>
      <ul>
      <a href="../index.html"><li>Home</li></a>
      <a href="accomodations.html"><li>Accomodations</li></a>
      <a href="activities.html"> <li>Activities</li></a>
        <a href="gallery.html"><li>Gallery</li></a>
        <a href="contacts.html"><li>Contacts</li></a>
      </ul>
    </nav>
    <div class="contactus">
      <h1>Contact us now</h1>
      <form class="" action="index.html" method="post">
      <p>First Name:</p>  <input type="text" name="fname" value="" placeholder="Bill">
      <p>Last Name:</p>  <input type="text" name="lnane" value="" placeholder="Robinson">
      <p>Email</p>  <input type="text" name="email" value="" placeholder="me@email.com"><br>
      <p>comments</p><textarea name="comments" rows="8" cols="80"></textarea><br>
        <button type="button" name="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>

              <footer class="pagefooter">
                  <p>Bengo Resort Island &copy 2020</p>
              </footer>
  </body>
</html>
